{% load static %}

<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{% url 'home' %}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img src="{% static 'img/logo.png' %}" width="50%" class="me-2">    
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'home' %}" 
            {% if '/' == request.path %}
            class="nav-link px-2 text-warning"
            {% else %}
            class="nav-link px-2 text-white"
            {% endif %}
            >
            Home</a></li>
          <li><a href="{% url 'about' %}" 
            {% if 'about' in request.path %}
            class="nav-link px-2 text-warning"
            {% else %}
            class="nav-link px-2 text-white"
            {% endif %}
            >
            About</a></li>
          <li class="dropdown"><a href="#" data-bs-toggle="dropdown"
            {% if 'products' in request.path %}
            class="nav-link px-2 dropdown-toggle text-warning"
            {% else %}
            class="nav-link px-2 dropdown-toggle text-white"
            {% endif %}
            >Products</a>
          
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'productsall' %}">All Products</a>
                {% for category in links %}
                  <a class="dropdown-item" href="{{category.get_url}}">{{category.name}}</a>
                {% endfor %}                                   
            </div>  
          
          </li>

          <li><a href="{% url 'contact' %}" 
            {% if 'contact' in request.path %}
            class="nav-link px-2 text-warning"
            {% else %}
            class="nav-link px-2 text-white"
            {% endif %}
            >Contact Us</a></li>

            {% if item_count > 0 %}
            <li class="nav-item"> 
              <a href="{% url 'cart_detail' %}"
              {% if 'cart' in request.path %}
              class="nav-link text-uppercase font-weight-bold px-3 text-warning"
              {% else %}
              class="nav-link text-uppercase font-weight-bold px-3 text-white"
              {% endif %}

              >
                <i class="fas fa-shopping-cart"></i>({{item_count}})
              </a>
            </li>
            {% endif %}
    
            
          {% if request.user.is_authenticated and request.user.first_name %}
          <li class="dropdown"><a href="#"
            {% if 'order_history' in request.path %}
            class="nav-link px-2 dropdown-toggle text-warning" data-bs-toggle="dropdown"
            {% else %}
            class="nav-link px-2 dropdown-toggle text-white" data-bs-toggle="dropdown"
            {% endif %}
          >
               Welcome, {{request.user.first_name}} </a>
               <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'order_history' %}">Order History</a>
              </div>

                
              
              </li>
          <li><a href="{% url 'signout' %}"
            {% if 'signout' in request.path %}
            class="nav-link px-2 text-warning"
            {% else %}
            class="nav-link px-2 text-white"
            {% endif %}
          > Sign-Out</a></li>

            {% else %}

          <li><a href="{% url 'signin' %}" 
            {% if 'signin' in request.path %}
            class="nav-link px-2 text-warning"
            {% else %}
            class="nav-link px-2 text-white"
            {% endif %}
          > Login</a></li>
          <li><a href="{% url 'signup' %}"
            {% if 'create' in request.path %}
            class="nav-link px-2 text-warning"
            {% else %}
            class="nav-link px-2 text-white"
            {% endif %}
          > Sign-Up</a></li>

            {% endif %}
        </ul>

        <div class="text-end">
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="GET" action="{% url 'search' %}">
          <div class="input-group">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="name">
          <div class="input-group-append">
          <button type="submit" class="btn btn-warning"><i class="fas fa-search"></i></button>
        </div>
        </div>
        </form>
      </div>

      </div>
    </div>
  </header>

  <div class="b-example-divider"></div>
